@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
@layer base {
	body {
		@apply min-h-screen w-full bg-slate-950 font-sans transition-all duration-300 ease-in-out;
	}

	.half-width {
		@apply mx-auto w-11/12 text-white md:w-8/12 lg:w-6/12;
	}

	.quarter-width {
		@apply mx-auto w-11/12 md:w-8/12;
	}

	h1,
	.h1 {
		@apply font-serif text-3xl font-extrabold text-white md:text-4xl lg:text-6xl;
	}

	h2,
	.h2 {
		@apply font-serif text-2xl font-semibold text-white md:text-3xl lg:text-4xl;
	}

	h3,
	.h3 {
		@apply text-xl text-white md:text-2xl lg:text-3xl;
	}

	p,
	.paragraph {
		@apply text-base font-light text-white md:text-lg lg:text-lg;
	}

	/* .href {
    @apply text-lg inline-flex relative hover:text-aqua text-white before:absolute before:inset-0 before:bg-cyan-200 before:opacity-10 before:-z-10 before:-rotate-1 before:translate-y-1/4 hover:before:bg-cyan-500;
  } */

	.href {
		color: blue;
		text-decoration: none;
		box-shadow: inset 0 -3px 0 0 blue;
		transition: all 0.3s ease;
	}

	.href:hover {
		box-shadow: inset 0 -24px 0 0 #00008b;
	}

	.mt {
		@apply mt-4 lg:mt-16;
	}

	.ironic-text {
		@apply font-serif text-sm text-gray-400;
	}

	.transition {
		@apply transition-all duration-300 ease-in-out;
	}
}
